<div class="main-sidebar bg-light-blue" *ngIf="loggedIn">
  <div class="sidebar-search p-3">
    <form class="form-inline custom-search-form" style="visibility: hidden;">
      <label class="sr-only" for="inlineFormInputGroupUsername2">{{"search" | translate}}</label>
      <div class="w-100 input-group mb-2 mr-sm-2">
        <input type="text" 
               class="form-control" 
               id="inlineFormInputGroupUsername2" 
               name="search"
               [(ngModel)]="name"
               (keyup)="applyFilter()"
               title="{{'title' | translate}}"
               placeholder="{{'placeholder' | translate}}">
        <div class="input-group-prepend">
          <div class="input-group-text input-group-text-custom"><i class="fa fa-search fa-fw text-muted" aria-hidden="true"></i></div>
        </div>
      </div>
    </form>
  </div>
  <div class="sidebar-menu py-5">
    <div class="container">
      <div id="accordion">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="mb-0">
              <select class="form-control custom-select-lang" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
                <option style="background-color: #46566b" *ngFor="let lang of TransLang" value="{{lang}}">{{ lang |titlecase }}</option>
              </select>
            </h5>
          </div>
        </div><!--.card-->
        <div class="card" *ngFor="let menu of menus; let i = index">
          <div class="card-header" [attr.id]="menu.id ? menu.id + '-' + i : ''">
            <h5 class="mb-0">
              <!-- Display Button if menu.id=!null without routerLink -->
              <button *ngIf="menu.id" class="btn btn-link {{ i != 0 ? 'collapsed' : ''}}"
                      data-toggle="collapse"
                      [attr.data-target]="'#' + menu.id"
                      aria-expanded="true"
                      style="cursor: pointer;"
                      [attr.aria-controls]="menu.id">
                <i class="{{menu.icon}} dash-header-icon" aria-hidden="true"></i>
                {{menu.translate | translate}}
                <i class="fa fa-angle-down fa-custom fa-lg fa-fw"></i>
                <i class="fa fa-angle-up fa-custom fa-lg fa-fw"></i>
              </button>
              <!-- Display Button if menu.id=null with routerLink -->
              <button *ngIf="!menu.id" class="btn btn-link {{ i != 0 ? 'collapsed' : ''}}"
                      routerLink="{{menu.link}}"
                      data-toggle="collapse"
                      [attr.data-target]="'#' + menu.id"
                      aria-expanded="true"
                      style="cursor: pointer;"
                      [attr.aria-controls]="menu.id">
                <i class="{{menu.icon}} dash-header-icon" aria-hidden="true"></i>
                {{menu.translate | translate}}
              </button>
            </h5>
          </div>
          <div *ngIf="menu.id" id="{{menu.id}}" class="collapse bg-light-blue text-white {{ i == 0 ? 'show' : ''}}" [attr.aria-labelledby]="menu.id + '-' + i" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-2" *ngFor="let item of menu.children">
                <a (click)="clicked(item.value)" routerLink="{{item.link}}">{{item.translate | translate}}</a>
              </p>
            </div>
          </div>
        </div><!--.card-->     
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" (click)="logout()">
                <i class="fa fa-sign-out dash-header-icon" aria-hidden="true"></i>
                {{"logout" | translate}}
              </button>
            </h5>
          </div>
        </div><!--.card-->
      </div>
    </div><!--.container-->
  </div><!--.sidebar-menu-->
</div><!--.main-sidebar-->
<div class="search-result bg-white py-5" *ngIf="disabled">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let item of customList">
        <!-- Search Result Items  -->
      </div><!--.col-12-->
    </div><!--.row-->
  </div><!--.container-->
</div>